*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-width:300px;
}

header{
    background-color: #A9A9A9;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    flex-wrap: nowrap;
    flex-grow: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    margin:10px;
    font-size: calc(5px + 1vw);
}

.header_information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logotip{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logotip__img{
    display: flex;
    flex-grow: 1;
    max-width: 150px;
    max-height: 150px;
}

.header__logotip__img img{
    width: 100%;
    height: auto;
    border-radius: 60px;
}

.header_information__links{
    display:flex;
    flex-direction: row;
}

.header_information__links__img{
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 10px;
}

.header_information__links__img img{
    width: 100%;
    height: auto;
    border-radius: 50px;
}

#header_information_info{
    font-weight:bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: calc(5px + 3vw);
}

ul.header_information_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 4px;
}

ul.header_information_info li{
    color: #000000;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.header_information_links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header_navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.header_navigation_nav {
    margin: 0;
    padding: 4px;
}

ul.header_navigation_nav li{
    display: inline;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    height: 30px;
}

ul.header_navigation_nav li:hover {
    background-color: #DCDCDC;
}


body{
    background: url('/media/fon/fon.jpg');
    background-width:100%;
    background-height:100%;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #A9A9A9;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    align-items: center;
    flex-wrap: nowrap;
}

ul.footer_info{
    margin: 0;
    padding: 4px;
}

ul.footer_info li{
    color: #000000;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

ul.footer_links{
    margin: 0;
    padding: 4px;
}

ul.footer_links li{
    color: #000000;
    display: inline;
    margin-right: 5px;
    padding: 3px;
    border-radius: 10px;
}

ul.footer_links li:hover {
    background-color: #DCDCDC;
}

.button{
    background-color: #A9A9A9;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: 2px solid #000;
    font-size: 14px;
}

.button:hover {
  cursor: pointer;
  background-color: #DCDCDC;
}

.button_upd{
    background-color: #A9A9A9;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: 0px solid #000;
    font-size: 14px;
}

.button_upd:hover {
  cursor: pointer;
  background-color: #DCDCDC;
}

.img_project{
    height: 500px;
    width: 500px;
}

.img_project__mini{
    height: 200px;
    width: 200px;
    padding:10px;
    border-radius: 20px;
}

.img_profile{
    height: 200px;
    width: 200px;
}

main{
    overflow-y: auto;
    max-height: 80%
}

