{% load static %}
{% include "inc/_inc.html" %}
{% include "inc/_header.html" %}
{% if user.is_active %}
<main>
    <div class="profil_list__filter v_article">
        <H3>Поиск ...</H3>
        <form method="get" class="#">
            <div class="profil_list__filter__fields">
            {{ filter.form.as_p }}
            </div>
            <div class="profil_list__filter__button">
                <button id="button__find" type="submit" Class="button__update">Найти</button>
            </div>
        </form>
    </div>
{% endif %}

<div class="profile__block">
{% for prof in page_obj %}
    <a href="{{ prof.pk }}">
    <article class="v_article w_procent w_msg">
        <ul style="text-align: center;">
            <li><img class="img_w" src="{{ prof.image.url }}" class="img_profile"></li>
            <li class="cursor" onclick="location.href='profile_user/vacancys/{{ prof.pk }}';"><h4>{{ vak.vakancy_name }}</h4></li>
            <li><h4>{{ prof.profile_name }}</h4></li>
            <li>{{ prof.user.last_name }} {{ prof.user.first_name }}</li>
            <hr>
            <li>
                 <div class="flex_row">
                    {% for skill in prof.skills.all %}
                        <p>{{ skill.skills_name }}</p>
                        <p>, </p>
                    {% endfor %}
                </div>
            </li>
            <li>{{ prof.description }}</li>

        </ul>
                {% if user.is_active %}
                    <a class="button__update" onclick="location.href='create-message/{{ prof.pk }}';">Отправить сообщение</a>
                {% else %}
                    <a class="button__update" href="{% url 'login' %}">Отправить сообщение</a>
                {% endif %}
    </article>
</a>

{% endfor %}

</div>
<div class="profile__page">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Первый</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
    {% endif %}

    <span class="">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
    {% endif %}
</div>
</main>
{% include "inc/_footer.html" %}