{% load static %}
{% include "inc/_inc.html" %}
{% include "inc/_header.html" %}
<main>
  <div class="content-box">
    <div class="">
      <div class="content-box__all__setup">
          <h3><a href="{% url 'profile_detail_com' msg.sender.id  %}">Пользователь: {{ msg.sender }}</a></h3>
          <p class="message__author left">Тема: {{ msg.name_msg }}</p>
          <p class="message__date left">Дата/время: {{ msg.date_add }}</p>
          <p class="message__body v_article">Сообщение: {{ msg.body|linebreaksbr }}</p>
        {% if msg.sender == request.user.profile %}
          <div class="profile__update">
            <a class="button__update" href="{% url 'delete-msg' msg.pk %}">Удалить</a>
            <a class="button__update" onClick="javascript:history.go(-1);">Назад</a>
          </div>
        {% else %}
          <div class="profile__update">
            <a class="button__update" onClick="javascript:history.go(-1);">Назад</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% include "inc/_footer.html" %}