{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}

{% if user.is_active %}

<main>
    <div class="profil_list__filter v_article">
        <H3>Поиск ...</H3>
        <form method="get" class="#">
            <div class="profil_list__filter__fields">
                {{ filter.form.as_p }}
            </div>
            <div class="profil_list__filter__button">
                <button class="button__update" type="submit" Class="btn">Найти</button>
            </div>
        </form>
    </div>
{% endif %}

<div class="profile__block">
{% for vak in page_obj %}
    <article class="v_article w_procent w_msg">
        <ul>
            <li><img class="img_w" src="{{ vak.profile.image.url }}" class="img_profile"></li>
            <li class="cursor" onclick="location.href='profile_user/vacancys/{{ vak.pk }}';"><h4>{{ vak.vakancy_name }}</h4></li>
            <li>{{ vak.salary }}</li>
            <hr>
            <li>{{ vak.description }}</li>

        </ul>
                {% if user.is_active %}
                    <a class="button__update" onclick="location.href='create-message/{{ vak.profile.pk }}';">Откликнуться</a>
                {% else %}
                    <a class="button__update" href="{% url 'login' %}">Откликнуться</a>
                {% endif %}
    </article>
{% endfor %}

</div>
<div class="profile__page">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Первый</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
    {% endif %}

    <span class="">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
    {% endif %}
</div>
</main>
{% include "inc/_footer.html" %}