{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}

<main>
    <div class="profile_detail">
        <div class="profile_detail__about">
            {% for prof in profile %}
            <a href="company/{{ prof.pk }}">
                <div class="profile_detail__about__img">
                    <img src="{{ prof.image.url }}" class="img_project">
                </div>
            </a>
            {% endfor %}
            <div class="profile_detail__about__all">
                {% for vak in vacancys %}
                    <h3><p>{{ vak.vakancy_name }}</p></h3>
                    <h3>ЗП:</h3>
                    <p>{{ vak.salary }}</p>
                    <h3>Опыт работы:</h3>
                    <p>{{ vak.experience }}</p>
                    <h3>Занятость:</h3>
                    <p>{{ vak.busyness }}</p>
                    <h3>Описание:</h3>
                    <p class="vacancy__tasks">{{ vak.description }}</p>
                    <h3>Задачи:</h3>
                    <p class="vacancy__tasks">{{ vak.tasks }}</p>
                {% endfor %}
                <h3>Скиллы:</h3>
                    {% for sk in vacancys %}
                        {% for skill in sk.skills.all %}
                            <p>{{ skill.skills_name }}</p>
                        {% endfor %}
                    {% endfor %}
                <div class="vacancy__tasks">
                    {% for vak in vacancys %}
                        <h3>Количество просмотров:</h3>
                        <p>{{ vak.count }}</p>
                    {% endfor %}
                        {% for vak in vacancys %}
                            {% if user == vak.profile.user %}
                            <div class="flex_row">
                                <div class="profile__update">
                                    <a class="button__update" href="{% url 'editVacancy' vak.pk %}">Изменить</a>
                                </div>
                                <div class="profile__update">
                                    <a class="button__update" href="{% url 'deleteVacancy' vak.pk %}">Удалить</a>
                                </div>
                                <div class="profile__update">
                                    <a class="button__update" href="{% url 'profile_user' %}">Назад</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="flex_row">
                                <a class="button__update" onClick="javascript:history.go(-1);">Назад</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% include "inc/_footer.html" %}