{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}

{% if user.is_active %}
<div class="index">
    <div class="index__button">
        <H3><a id="button__find" href="{% url 'программист' %}">Поиск программистов</a></H3>
    </div>

    <div class="index__button">
         <H3><a id="button__find" href="{% url 'компания' %}">Поиск компании</a></H3>
    </div>

     <div class="index__button">
         <H3><a id="button__find" href="#">Поиск вакансий</a></H3>
    </div>
</div>
{% endif %}

{% include "inc/_footer.html" %}