{% load static %}
{% block header %}
<meta charset=”UTF-8″>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
    <div id="overlay_img" class="overlay" onclick="off()">
        <img src="{{ project.image.url }}" class="img_project over_img">
    </div>
   <header>
       <div class="header__logotip">
           <div class="header__logotip__img">
                   <a href="{% url 'index' %}">
                       <img src="/media/links/jw.jpg">
                   </a>
           </div>
       <div class="header">
           <div class="header_information">

               <ul class="header_information_info">
                   <li><p id="header_information_info">Job/workers</p></li>
               </ul>
                <div>
                    <button id="myBtn" onclick="myFunction()">Pause</button>
                </div>
                <div class="header_information__links">
                        <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/facebook.jpg" title = "facebook">
                        </a>
                        <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/instagram.jpg" title = "instagram">
                        </a>
                        <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/telegram.jpg" title = "telegram">
                        </a>
                        <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/twitter.jpg" title = "twitter">
                        </a>
                </div>
                <div class="openmenu">
                    <div class="dropdown" style="float:left;">
                    <a class="v_article change-text menu_style" onclick="openNavMenu()">Меню ☰</a>
                        <div id="NavMenu" class="dropdown-content" style="right:10px;">
                            {% if user.is_authenticated %}
                                <a href="{% url 'index' %}">Главная</a>
                                <a href="{% url 'profile_user' %}">Мой профиль</a>
                                <a href="{% url 'inbox' %}">Мои сообщения {{unreadCount}}</a>
                                <a href="{% url 'logout' %}">Выйти</a>
                            {% else %}
                                <a href="{% url 'index' %}">Главная</a>
                                <a href="{% url 'login' %}">Войти</a>
                                <a href="{% url 'register' %}">Регистрация</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="dropdown" style="float:right;">
                    <a class="v_article change-text menu_style" onclick="openNavLinks()">Сети ☰</a>
                        <div id="NavLinks" class="dropdown-content">
                            <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/facebook.jpg" title = "facebook">
                        </a>
                        <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/instagram.jpg" title = "instagram">
                        </a>
                        <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/telegram.jpg" title = "telegram">
                        </a>
                        <a class="header_information__links__img" href="{% url 'index' %}">
                            <img src="/media/links/twitter.jpg" title = "twitter">
                        </a>
                        </div>
                    </div>
                </div>
           </div>
           <div class="header_navigation">
               <nav>
                   <ul class="header_navigation_nav">
                       <li class="v_article"><a  class="change-text" href="{% url 'index' %}">Главная</a></li>
                       {% if user.is_authenticated %}
                       <li class="v_article"><a class="change-text" href="{% url 'profile_user' %}">Мой профиль</a></li>
                       <li class="v_article"><a class="change-text" href="{% url 'inbox' %}">Мои сообщения {{unreadCount}}</a></li>
                       <li class="v_article"><a class="change-text" href="{% url 'logout' %}">Выйти</a></li>
                       {% else %}
                       <li class="v_article"><a class="change-text" href="{% url 'login' %}">Войти</a></li>
                       <li class="v_article"><a class="change-text" href="{% url 'register' %}">Регистрация</a></li>
                       {% endif %}
                   </ul>
               </nav>
           </div>
       </div>
       </div>
    </header>
{% endblock %}