{% load static %}
{% block header %}
<meta charset=”UTF-8″>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
    <div id="overlay_img" class="overlay" onclick="off()">
        <img src="{{ project.image.url }}" class="img_project over_img">
    </div>
    <div id="myNavLinks" class="overlay" onclick="closeNavLinks()">
        <a href="javascript:void(0)" onclick="closeNavLinks()">×</a>
        <div class="overlay-content">
            <a href="#" onclick="closeNavMenu()">facebook</a>
            <a href="#" onclick="closeNavMenu()">instagram</a>
            <a href="#" onclick="closeNavMenu()">telegram</a>
            <a href="#" onclick="closeNavMenu()">twitter</a>
        </div>
    </div>
    <div id="myNavMenu" class="overlay" onclick="closeNavMenu()">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavMenu()">×</a>
        <div class="overlay-content">
            <a href="{% url 'index' %}">Главная</a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile_user' %}">Мой профиль</a>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
       <header>
           <div class="header__logotip">
               <div class="header__logotip__img">
                       <a href="{% url 'index' %}">
                           <img src="/media/links/jw.jpg">
                       </a>
                   </div>
           <div class="header">
               <div class="header_information">

                   <ul class="header_information_info">
                       <li><a id="header_information_info" href="{% url 'index' %}">Job/workers</a></li>
                   </ul>
                   <ul class="header_information_info">
                       <li>Программистов: {{ countProfileProg }}</li>
                       <li>Компаний: {{ countProfileCom }}</li>
                       <li>Вакансии: {{ countVacancys }}</li>
                    </ul>
                    <div>
                        <button id="myBtn" onclick="myFunction()">Pause</button>
                    </div>
                    <div class="header_information__links">
                            <a class="header_information__links__img" href="{% url 'index' %}">
                                <img src="/media/links/facebook.jpg" title = "facebook">
                            </a>
                            <a class="header_information__links__img" href="{% url 'index' %}">
                                <img src="/media/links/instagram.jpg" title = "instagram">
                            </a>
                            <a class="header_information__links__img" href="{% url 'index' %}">
                                <img src="/media/links/telegram.jpg" title = "telegram">
                            </a>
                            <a class="header_information__links__img" href="{% url 'index' %}">
                                <img src="/media/links/twitter.jpg" title = "twitter">
                            </a>
                    </div>
                    <div class="openmenu">
                        <a class="change-text" onclick="openNavLinks()">Сети ☰</a>
                        <a class="change-text" onclick="openNavMenu()">Меню ☰</a>
                    </div>
               </div>
               <div class="header_navigation">
                   <nav>
                       <ul class="header_navigation_nav">
                           <li><a  class="change-text" href="{% url 'index' %}">Главная</a></li>
                           {% if user.is_authenticated %}
                           <li><a class="change-text" href="{% url 'profile_user' %}">Мой профиль</a></li>
                           <li><a class="change-text" href="{% url 'logout' %}">Выйти</a></li>
                           {% else %}
                           <li><a class="change-text" href="{% url 'login' %}">Войти</a></li>
                           <li><a class="change-text" href="{% url 'register' %}">Регистрация</a></li>
                           {% endif %}
                       </ul>
                   </nav>
               </div>
           </div>
           </div>
        </header>
{% endblock %}